/*  Authentication page start */
:root {
  --body_background: white;
  --body_color: black;
}
[data-theme="dark"] {
  --body_background: black;
  --body_color: white;
}
body {
  background-color: var(--body_background) !important;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Ubuntu Sans";
}
