
@import url('https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');


 /* <uniquifier>: Use a unique and descriptive class name */
 /* <weight>: Use a value from 100 to 900 */
 /* <slant>: Use a value from -10 to 0 */

.inter-font {
  font-family: "ubantu sans";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:"slnt" 0;
}

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #929FB1;
  
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #E1E5EA;
}

.separator:not(:empty)::before {
  margin-right: .25em;
}

.separator:not(:empty)::after {
  margin-left: .25em;
}

.globalGrediantBtn {
  font-size: 18px !important;
  width: fit-content;
  /* height: 42px; */
  border-radius: 12px !important;
  font-weight: 600 !important;
  position: relative;
  /* line-height: 21.78px !important;
  letter-spacing: 0.005em; */
  /* text-align: center !important; */
  background-color: #1e1e1e;
  margin-left: 40px;
}

.globalGrediantBtn:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  /* border: 10px solid; */
}

.globalGrediantBtn:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.globalGrediantBtn:hover:before {
  opacity: 1;
}

.form-control:focus{
  border-color: #E5E7EB !important;
  box-shadow:none !important
}

/* theme setting */
body.light {
  background-color: #FFFFFF;
  color: #181D25;
}

body.dark {
  background-color: #121212;
  color: #E0E0E0;
}
:where(.css-p8b6i).ant-steps{
  display: none !important;
}

